name: CI Web App Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'npm'
          
      - name: Install Dependencies
        run: npm ci

      - name: Run Unit Tests (Vitest)
        run: npm run test -- --run # the --run flag ensures it runs once and doesn't watch

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run E2E Tests (Playwright)
        run: npx playwright test

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
